{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{ partial "social_icons.html" $.Site.Params.socialIcons }}
<div style="margin-bottom:2%;">
    <h2>{{ .Site.Params.description }}</h2>
</div>
<h3>[WIP] Follow on social media: <a href="https://www.facebook.com/noreltag" target="_blank" rel="follow">FB</a> | <a href="https://www.instagram.com/noreltag" target="_blank" rel="follow">INSTAGRAM</a> | <a href="https://www.linkedin.com/company/noreltag" target="_blank" rel="follow">LINKEDIN</a></h3>
{{- /* Footer custom content area end */ -}}
